aiosqlite==0.21.0
bcrypt==4.3.0
cffi==1.17.1
cryptography==44.0.3
greenlet==3.2.1
linkify-it-py==2.0.3
markdown-it-py==3.0.0
mdit-py-plugins==0.4.2
mdurl==0.1.2
paramiko==3.5.1
platformdirs==4.3.7
pycparser==2.22
Pygments==2.19.1
PyNaCl==1.5.0
rich==14.0.0
SQLAlchemy==2.0.40
textual==3.2.0
typing_extensions==4.13.2
uc-micro-py==1.0.3
